{
  "env": {
    "node": true,
    "es6": true
  },
  "global": {
    "process": true
  },
  "rules": {
    "no-cond-assign": 1,
    "no-constant-condition": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 1,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 1,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 1,
    "use-isnan": 2,
    "valid-typeof": 2,
    "block-scoped-var": 1,
    "complexity": [1, 8],
    "curly": [1, "multi-line"],
    "default-case": 2,
    "eqeqeq": 1,
    "no-alert": 2,
    "no-caller": 1,
    "no-case-declarations": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-fallthrough": 1,
    "no-implicit-coercion": 1,
    "no-implied-eval": 1,
    "no-invalid-this": 1,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-magic-numbers": 1,
    "no-multi-spaces": 1,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 1,
    "no-param-reassign": 1,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 1,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-void": 1,
    "no-with": 2,
    "wrap-iife": 2,
    "strict": [2, "global"],
    "init-declarations": 1,
    "no-catch-shadow": 1,
    "no-delete-var": 1,
    "no-label-var": 1,
    "no-shadow-restricted-names": 1,
    "no-shadow": 1,
    "no-undef-init": 1,
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-use-before-define": [2, "nofunc"],
    "callback-return": 2,
    "handle-callback-err": 1,
    "no-path-concat": 1,
    "no-process-exit": 1,
    "no-trailing-spaces": 1
  }
}
